* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0 ;
    background-color: #6078CF;
    color:#FFFFFF;
    border-radius: 50px 0px;
}

.logo {
    width: 100px;
}

.item-lista {
    display: inline-block;
    font-size:24px;
    margin: 0 26px;
}